@import '../src/scss/variables.scss';

.mainContainer {
  // position: relative;
  background: #f4f6f4;
  width: 100%;
  height: auto;
  min-height: 100vh;
  user-select: none;
  // padding: 20px;
  // overflow: hidden;
}
