@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  font-family: 'Poppins', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  margin-bottom: 0;
}

h2,
h3 {
  color: var(--title-cl);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
