$primary50: #f9fafb;
$grey: grey;
$accentColorActive: #293329;
$accentColor: #799179;
$borderColor: #e4e7ec;
$warningColor: rgb(160, 63, 63);
$orange: #ff9800;

$boxShadow: 0px 4px 8px -2px rgba(41, 51, 41, 0.1),
  0px 2px 4px -2px rgba(41, 51, 41, 0.06);

$size-s: 390px;
$size-m: 720px;
$size-l: 1200px;
